:root{
    --green: #54E6AF;
    --light-gray:#C2CBE5;
    --gray: #5a668a;
    --darkgray: #2C344B;
    --black: #121725;

    --small-p: 0.77778rem;
    --header-size:2.88889rem;

    font-size:18px;
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
}

body{
    margin:0;
    height:100vh;

    display:flex;
    justify-content:flex-end;
    align-items:center;

    background-color:var(--black);
}

input:focus{
    outline:0;
}

h1, p{
    margin: 0;
}

.mainContainer{
    /*width: 70.83333rem;
    height: 35.55556rem;*/
    width:1275px;
    height:640px;

    display:flex;
    align-items:flex-end;
    position:relative;
}

.bgImgContainer{
    position:absolute;
        right:0;
    z-index:-1;
    height: 100%;
}

bgImgContainer__img{
    object-fit:fill;
    height:100%;
    width:49.33333rem;
}

.logo{
    position:absolute;
        left:0;
        top:-1.55556rem;
}

.mainContent{
    width:40.16667rem;
    height:28.27778rem;
    /*width:723px;*/
    /*height:509px;*/
    box-sizing:border-box;
    padding: 88px 58px 0 0;
    
    display:flex;
    flex-direction:column;
    justify-content:space-between;

    background-color:var(--black);
}

.productInfo__header{
    margin-bottom:24px;

    color:var(--green);
    font-size:var(--header-size);
    font-weight:100;
    line-height:3.44444rem;
}

.productInfo__span{
    color:white;
}

.productInfo__desc{
    color:var(--light-gray);
    font-weight:100;
    line-height:1.55556rem;
    width:24.72222rem;
}

.registration{
    width: 23.72222rem;
    height: 3.11111rem;
    box-sizing:border-box;
    padding:5px 5px 5px 32px;

    display:flex;
    border-radius:28px;
    background-color:var(--darkgray);
}

.registration__input{
    flex-grow:6;
    background:none;
    border:none;
    color:white;
    font:inherit;
    font-weight:600;
    font-size:var(--small-p);
}

.registration__input::placeholder{
    color:var(--light-gray);
}


.registration__btn{
    flex-grow:4;

    border-radius:28px;
    background-color:var(--green);
    color:var(--black);
    border:none;
    font:inherit;
    font-size:var(--small-p);
    font-weight:600;
}

.platformIconContainer{

    width:29.77778rem;
    margin-top:24px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.platformIcon{
    height:1.61111rem;
}

.platformIconGoogle{
    height:1rem;
}

.platformIconPocketCasts{
    height:1.44444rem;
}

.dotGrid{
    position:absolute;
        right:0;
        bottom:-2.88888rem;

}

@media(max-width:768px){
body{
    display:block;
}

.logo{
    top:2.77778rem;
    left:2.16667rem;
}

.mainContainer{
    height:767px;
    width:100%;
}

.mainContent{
    padding-left:39px;
}

.productInfo__header{
    font-size:2.66667rem;
}

.dotGrid{
    bottom:-14.27778rem;
    left:1.66667rem;
}
}